@{
    ViewBag.Title = "La liste des étudiants";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<GestionDesAbsencesMigration.Models.Etudiant>

@section Style {
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
}


<div class="row justify-content-center ">
    <div class="col-md-10 pt-3">
        <div class="card bg-light shadow">
            <div class="card-body">
                <div class="row justify-content-between">
                    <button class="btn btn-primary mb-3 ml-2" data-toggle="modal" data-target="#addStudentModal"><i class="fas fa-user-plus"></i> Ajouter un etudiant</button>
                    <button class="btn btn-primary mb-3 mr-2" data-toggle="modal" data-target="#excelModal"><i class="fas fa-file-import"></i> Importer un fichier excel</button>
                </div>
                <table id="myTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-primary">CNE</th>
                            <th class="text-primary">Nom</th>
                            <th class="text-primary">Prénom</th>
                            <th class="text-primary">Email</th>
                            <th class="text-primary">Classe</th>
                            <th class="text-primary">Groupe</th>
                            <th class="text-primary text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(c => item.Cne)</td>
                                <td>@Html.DisplayFor(c => item.Nom)</td>
                                <td>@Html.DisplayFor(c => item.Prenom)</td>
                                <td>@Html.DisplayFor(c => item.Email)</td>
                                <td>@Html.DisplayFor(c => item.Classe.Nom)</td>
                                <td>@Html.DisplayFor(c => item.Groupe.Nom)</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button value="@item.Id" class="editbutton btn btn-outline-primary "> <i class="fa fa-edit"></i> </button>
                                        <button value="@item.Id" class="deleteButton btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"> <i class="fas fa-trash-alt"></i> </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*Add new student Modal*@
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color:#44bef1; text-align:center">
                <h5 class="modal-title" style="text-align: center;" id="exampleModalScrollableTitle">Ajouter un nouveau etudiant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveEtudiant", "Admin", FormMethod.Post, new { @class = "my_from" }))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="cne">CNE</label>
                            <input type="text" class="form-control border" id="cne" name="cne" placeholder="Cne">
                        </div>
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control border" id="nom" name="nom" placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <label for="preom">Prenom</label>
                            <input type="text" class="form-control border" id="prenom" name="prenom" placeholder="Preom">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control border" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" />
                        </div>
                        <div class="form-group">
                            <label>Cycle</label>
                            @Html.DropDownList("liste_cycle", ViewBag.list as SelectList, "Selectionnez le cycle", new { id = "liste_cycle", @class = "form-control border" })

                        </div>
                        <div class="form-group">
                            <label>Classe</label>
                            <select class="form-control border" id="classe" name="classe"></select>
                        </div>
                        <div class="form-group">
                            <label>Groupe</label>
                            <select class="form-control border" id="groupe" name="groupe">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" id="submit" value="Ajouter" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*delte Modal*@
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white" id="exampleModalLabel">Supprimer un etudiant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body font-weight-bold">
                Êtes-vous sûr ?
            </div>
            <div class="modal-footer">
                <a href="" id="deleteHref" class="btn btn-danger">Oui</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>

<!--edit etudiant Modal and button-->
<button hidden data-toggle="modal" id="lunchModal" data-target="#editModal"></button>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#44bef1;">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Éditer un etudiant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditEtudiant", "Admin", FormMethod.Post, new { @class = "my_from" }))
                {
                    <div class="modal-body" id="modalEditBody">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" id="submit" value="Éditer" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@*Excel Modal*@
<div class="modal fade" id="excelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#44bef1;">
                <h5 class="modal-title text-white" id="exampleModalLabel">Importer un fichier excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("importStudents", "Admin", FormMethod.Post, new { id ="excel_submit_form", enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Classe</label>
                        @Html.DropDownList("id_classe", ViewBag.list_Classe as SelectList, "Selectionnez une classe", new { id = "id_classe", @class = "form-control border" })
                    </div>
                    <div class="custom-file">
                        <input type="file" id="excel" name="excel" accept=".xlsx" class="custom-file-input" >
                        <label class="custom-file-label" for="customFile">Importer</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="excel_submit_button" class="btn btn-primary" data-dismiss="modal">Valider</button>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {

            $('#myTable').DataTable();

            $("#liste_cycle").addClass("form-control");

            $("#liste_cycle").change(function () {
                $.get("/Admin/GetClass", { id: $("#liste_cycle").val() }, function (data) {
                    $("#classe").empty();
                    $.each(data, function (index, ligne) {
                        $("#classe").append("<option value='" + ligne.id + "'>" + ligne.nom + "</option>")
                    });

                });
            });

            // edit etudiant
            $("#myTable").on("click", ".editbutton", function () {
                var url = "GetEditedEtudiant/" + $(this).attr("value");
                $.get(url, function (data) {
                    $('#modalEditBody').html(data);
                    document.getElementById("lunchModal").click();
                })
            });

            // delte etudiant
            $("#myTable").on("click", ".deleteButton", function () {
                var url = "DeleteEtudiant/" + $(this).attr("value");
                $("#deleteHref").attr("href", url);
            });

            //submit excel form 
            $("#excel_submit_button").click(function () {
                if (document.getElementById("excel").files.length == 0) {
                    console.log("no excel selected");
                    return;
                } else {
                    $("#excel_submit_form").submit();
                }
            });
        });
    </script>
}
