
    <input type="hidden" id="editidinput" value="@ViewBag.e" name="editidinput" />
    <div class="form-group">
        <label for="editcne">CNE</label>
        <input type="text" class="form-control" id="editcne" name="editcne" placeholder="Cne" value="@Model.Cne">
    </div>
    <div class="form-group">
        <label for="editnom">Nom</label>
        <input type="text" class="form-control" id="editnom" name="editnom" placeholder="Nom" value="@Model.Nom">
    </div>
    <div class="form-group">
        <label for="editpreom">Preom</label>
        <input type="text" class="form-control" id="editpreom" name="editprenom" placeholder="Preom" value="@Model.Prenom">
    </div>
    <div class="form-group">
        <label for="editemail">Email address</label>
        <input type="email" class="form-control" id="editemail" name="editemail" aria-describedby="emailHelp" placeholder="Enter email" value="@Model.Email" />
    </div>
    <div class="form-group">
        <label>Cycle</label>
        @Html.DropDownList("editliste_cycle", ViewBag.list as SelectList, "Selectionnez le cycle", new { id = "editliste_cycle" })

    </div>
    <div class="form-group">
        <label>Classe</label>
        <select class="form-control" id="editclasse" name="editclasse"></select>
    </div>
    <div class="form-group">
        <label>Groupe</label>
        <select class="form-control" id="editgroupe" name="editgroupe">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-success" id="submitEdit" value="Modifier Etudiant" />
    </div>

    <script>
        $(document).ready(function (e) {

            $("#editliste_cycle").addClass("form-control");
            $("#editliste_cycle").change(function () {
                $.get("/Admin/GetClass", { ID: $("#editliste_cycle").val() }, function (data) {
                    $("#editclasse").empty();
                    $.each(data, function (index, ligne) {
                        $("#editclasse").append("<option value='" + ligne.id + "'>" + ligne.nom + "</option>")
                    });

                });
            });


        });
    </script>


