
<input type="hidden" id="editidinput" value="@ViewBag.e" name="editidinput" />
<div class="form-group">
    <label for="editcode">CNE</label>
    <input type="text"  class="form-control border" id="editcode" name="editcode"  placeholder="Code Prof" value="@Model.Code_prof">
</div>
<div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control border" id="editnom" name="editnom" placeholder="Nom" value="@Model.Nom">
</div>
<div class="form-group">
    <label for="preom">Prenom</label>
    <input type="text" class="form-control border" id="editprenom" name="editprenom" placeholder="Prenom" value="@Model.Prenom">
</div>
<div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control border" id="editemail" name="editemail" aria-describedby="emailHelp" placeholder="Enter email" value="@Model.Email" />
</div>
