<!doctype html>
<html lang="en">
<head>
    <title>Esapace Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style_admin.css">

    @RenderSection("Style", required: false)
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="index.html" class="logo">ENSA de Safi<span>@ViewBag.Nom</span></a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="/Admin/Home"><span class="fa fa-home mr-4"></span>Home</a>
                    </li>
                    <li>
                        <a href="/Admin/AllEtudiants"><span class="fas fa-users mr-3"></span>Etudiants</a>
                    </li>
                    <li>
                        <a href="/Admin/AllProfs"><span class="fas fa-chalkboard-teacher  mr-3"></span>Professeurs</a>
                    </li>
                    <li>
                        <a href="/Admin/AllClasses"><span class="fas fa-school mr-3"></span>Classes</a>
                    </li>
                    <li>
                        <a href="/Admin/AllModules"><span class="fas fa-book mr-4"></span>Modules</a>
                    </li>
                    <li>
                        <a href="/Admin/Rectification"><span class="fas fa-calendar-check mr-4"></span>Rectification</a>
                    </li>
                    <li>
                        <a href="/Admin/Conseil"><span class="fas fa-calendar-alt mr-4"></span>Conseil disciplinaire</a>
                    </li>
                    <li>
                        <div id="accordion">
                            <a style="cursor:pointer" data-toggle="collapse" data-target="#collapseOne" id="clicked_btn" aria-expanded="false" aria-controls="collapseOne">
                                <span class="fas fa-database mr-4"></span>
                                Implémentations
                            </a>

                            <ul id="collapseOne" style="list-style:none" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <li style="font-size:14px;cursor:pointer;" class="border-bottom mt-2 pb-2" data-toggle="modal" data-target="#ajouterSemaine">Ajouter Semaine</li>
                                <li style="font-size:14px;cursor:pointer;" class="border-bottom mt-2 pb-2" data-toggle="modal" data-target="#ajouterEmploi">Ajouter emploi du temps</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="/Admin/Parametres"><span class="fas fa-cogs mr-4"></span>Paramètres</a>
                    </li>
                    <li>
                        <a href="http://www.ensas.uca.ma/" target="_blank"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
                    </li>
                </ul>
                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> ENSA de Safi</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="px-5 pt-3">
            <nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 bg-white rounded">
                <div class="container-fluid">
                    <button class="btn  btn-primary">
                        @ViewData["Title"]
                    </button>

                    <button class="btn btn-primary" data-toggle="modal" data-target="#exitModal">
                        <i class="fas fa-sign-out-alt"></i>
                    </button>

                </div>
            </nav>

            @RenderBody()
        </div>
    </div>

    <!-- Exit Modal -->
    <div class="modal fade" id="exitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Se déconnecter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir quitter?
                </div>
                <div class="modal-footer">
                    <a href="/Login/Logout" class="btn btn-danger">Oui</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                </div>
            </div>
        </div>
    </div>

    @*Ajouter semaine Modal*@
    <div class="modal fade" id="ajouterSemaine" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#44bef1;">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Semaine</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("AddSemaines", "Admin", FormMethod.Post, new { id = "excel_submit_form", enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <div class="custom-file">
                            <input type="file" id="excel" name="excel" accept=".xlsx" class="custom-file-input" placeholder="Importer" required>
                            <label class="custom-file-label" for="customFile">Importer un fichier</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="excel_submit_button" class="btn btn-primary" data-dismiss="modal">Valider</button>
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                }
            </div>
        </div>
    </div>

@*Ajouter emploi du temps Modal*@
<div class="modal fade" id="ajouterEmploi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#44bef1;">
                <h5 class="modal-title text-white" id="exampleModalLabel">Emploi du temps</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("#", "Admin", FormMethod.Post, new { id = "", enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <!--<div class="form-group">
                        <label>Semaine</label>-->
                        @*@Html.DropDownList("id_classe", ViewBag.List_semaine as SelectList, "Selectionnez une semaine", new { id = "id_classe", @class = "form-control border" })*@
                    <!--</div>-->
                    <div class="custom-file">
                        <input type="file" id="excel" name="excel" accept=".xlsx" class="custom-file-input" required>
                        <label class="custom-file-label" for="customFile">Importer</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="excel_submit_button" class="btn btn-primary" data-dismiss="modal">Valider</button>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            }
        </div>
    </div>
</div>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main_admin.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            //submit excel form 
            $("#excel_submit_button").click(function () {
                if (document.getElementById("excel").files.length == 0) {
                    console.log("no excel selected");
                    return;
                } else {
                    $("#excel_submit_form").submit();
                }
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>